{% load static %} <!-- this is for if I have the image in the code if I don't write it then it will not show the static files-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/97856a3c9d.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fab fa-firstdraft fa-2x"></i></a>
        <a href="{% url "post_new" %}" class="top-menu"><i class="fas fa-plus fa-2x" style="color: white;"></i></a>
    <!-- small tag is used to make the icon as small as possible   -->
    <p class="top-menu">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Logout</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></a>
    {% endif %}
    <h1><a href="{% url "post_list" %}">My BLOG</a></h1>
    <!-- here slash we used because it will redirect to home page prefered way is  -->
</div>
<div class="content container"> <!-- here content is one class and container is another class -->
    <div class="row"> <!-- Adding the row because then it will n't go to entire line. so it will be under the div-->
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>